* {
    /* margin: 0; */
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #0D1B2A;
}

.container {
    width: 400px;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 400px;
    margin-bottom: 100px;

}

.heading {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.top {
    color: white;
    display: block;
    margin-bottom: 2px;
}

.bottom {
    color: #00A862;
    display: block;
    margin-bottom: 6px;
    text-decoration: 2px underline #00A862;
    text-underline-offset: 15px;
}

.password_field {
    width: 800px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
}

.field {
    margin-bottom: 25px;
    outline: none;
    border-radius: 2px;
    display: flex;
}

.copy_icon {
    width: 30px;
    height: 30px;
    margin-left: -40px;
    margin-top: 10px;
    cursor: pointer;
}

.gen {
    height: 30px;
    width: 30px;
}

.generate_button {
    display: flex;
    height: 50px;
    width: 200px;
    align-items: center;
    justify-content: space-around;
    background-color: #00A862;
    outline: none;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}